In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('boston.csv')

In [3]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [4]:
data_np = data.to_numpy()
n,m=data_np.shape
b = np.ones((n,1))
data_np = np.column_stack((b,data_np)) #(n,m+1)

In [5]:
print(data_np.shape)
print(data_np[:,:14].shape)
print(data_np[:,-1].shape)

(506, 15)
(506, 14)
(506,)

In [6]:
x_train = data_np[:406,:14]
x_test = data_np[406:,:14]
y_train = data_np[:406,-1]
y_test = data_np[406:,-1]

In [7]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(406, 14)
(406,)
(100, 14)
(100,)

In [8]:
def LR(train,target,learning_rate=0.000005):
    x = train #(n,m)
    y = target #(1,n)
    n,m = x.shape
    w = np.zeros((m,1)) #(m,1)
    
    while 1:
        loss = np.dot(x,w).T-y #(1,n)
        if np.var(np.abs(loss)) < 10:
            break
        #print(loss.sum()/n)
        gradients = np.dot(x.T,loss.T)/n
        w_n = w-learning_rate*gradients
        #if np.abs(w_n-w).sum()<0.001:
            #break
        #w = w_n
        #if max_iter%100==0:
        
        #print(np.abs(w_n-w).sum()/m )

        w = w_n
    
    
    return w_n

In [ ]:
w = LR(x_train,y_train)

In [ ]:
w.dtype

In [ ]:
w.astype('float64')

In [ ]:
predict = np.dot(x_test,w)

In [ ]:
predict.shape

In [ ]:
for i in range(predict.shape[0]):
    print('real:',y_test[i],'predicton:',predict[i][0])

In [ ]:
print(y_test.dtype)